<div class="jumbotron">
  <h1>Hello, <%= @user.email %>!</h1>
  <p>Welcome back!</p>
  <p><a class="btn btn-primary btn-lg" href="<%= bands_url %>" role="button">Check out the bands!</a> <a class="btn btn-success btn-lg" href="<%= new_band_url %>" role="button">Add a new band</a></p>
</div>
