body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #eee;
}

div.thumbnail {
  min-height: 391px;
  position: relative;
}

div.thumbnail > img {
  max-height: 250px;
}

div.thumbnail > .caption {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.hr {
  margin-left: 10%;
  width: 80%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
}
